<%= @greeting %> this is a message regarding your bug with "<%= @ticket.title %>".  You described it as "<%= @ticket.body %>" and I want you to quit complaining.  Thank you! Ticket ID ##<%= @ticket.id %>##
