<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <span>Contact Email:</span>
    <%= f.text_field :email %>
    <span>Error:</span>
    <%= f.text_field :title %> <br>
    <span>Details:</span>
    <%= f.text_area :body %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
