<p id="notice"><%= notice %></p>
      <td><%= @ticket.email %> </td>
        <td><%= @ticket.title %> </td>
        <td><%= @ticket.body %></td>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>

<% @ticket.inbounds.each do |reply| %>
  <p><%= reply.body %></p>
<% end %>

